[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/v4-core"]
	path = contracts/lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "contracts/lib/uniswap-hooks"]
	path = contracts/lib/uniswap-hooks
	url = https://github.com/OpenZeppelin/uniswap-hooks
[submodule "contracts/lib/swap-vm"]
	path = contracts/lib/swap-vm
	url = https://github.com/1inch/swap-vm
[submodule "contracts/lib/aqua"]
	path = contracts/lib/aqua
	url = https://github.com/1inch/aqua
